@import "../../../../../../../bower_components/breakpoint-sass/stylesheets/breakpoint";

@import "varMixins";
@import "base";
@import "modules/header";
@import "modules/nav";
@import "modules/intro";
@import "modules/services";
@import "modules/gallery";
@import "modules/testimonials";
@import "modules/appointments";
@import "modules/footer";

/* make sure breakpoint-to-ems mixin is in var/scss file, not here!*/


#back-to-top {
    font-size: .75em;
    text-decoration: none;
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-color: rgba(255, 255, 255, .9);
    color: #313943;
    border: none;
    border-radius: 5px;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
    transition: all .3s ease-in-out;
    display: block;
    opacity: 0;
    visibility: hidden;
    
    &:hover {
        padding: 1em 2em
    }
    
    &.visible {
        opacity: 1;
        visibility: visible;
    }
}


