

.gallery {
    background-color: #000;
    padding-left: 1em;
    padding-right: 1em;
    
    &__main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 270px;
        grid-gap: .7em;
        grid-auto-flow: row dense;
        
        @include breakpoint(max-width $medium) {
            grid-template-columns: 1fr 1fr;
        }
        
        @include breakpoint(max-width $small) {
            grid-template-columns: 1fr;
        }
        
        & figure {
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            background-color: rgba(255,255,255,.7);
            border-radius: 3px;
            margin: 0 auto;
            
            &:hover img {
                transform: scale(1.15);
                opacity: 1;
            }
            
            &:hover figcaption {
                opacity: 1;
                height: 6em;
            }
            
            &.tall {
                grid-row: auto / span 2;
                
                @include breakpoint(max-width $small) {
                    grid-row: auto;
                }
            }
            
            &.wide {
                grid-column: auto / span 2;
                
                @include breakpoint(max-width $small) {
                    grid-column: auto;
                }
            }
            
            & img {
                flex: 1;
                object-fit: cover;
                width: 100%;
                height: 100%;
                opacity: .7;
                transition: all 300ms ease-out;
            }
            
            & figcaption {
                opacity: 0;
                height: 0;
                position: absolute;
                bottom: 0;
                left: 2em;
                right: 2em;
                background-color: rgba(0,0,0,.7);
                transition: all 300ms cubic-bezier(1,0,0,1) 300ms;
                text-align: center;
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            
            
            
        }
        
        
        
    }
    
}

