

.gallery {
    background-color: #000;
    padding-left: 1em;
    padding-right: 1em;
    
    &__main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 270px;
        grid-gap: .7em;
        grid-auto-flow: row dense;
        
        @include breakpoint(max-width $medium) {
            grid-template-columns: 1fr 1fr;
        }
        
        @include breakpoint(max-width $small) {
            grid-template-columns: 1fr;
        }
        
        & figure {
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            background-color: rgba(255,255,255,.7);
            border-radius: 3px;
            
            &.tall {
                grid-row: auto / span 2;
                
                @include breakpoint(max-width $small) {
                    grid-row: auto;
                }
            }
            
            &.wide {
                grid-column: auto / span 2;
                
                @include breakpoint(max-width $small) {
                    grid-column: auto;
                }
            }
            
            & img {
                flex: 1;
                object-fit: cover;
                width: 100%;
                opacity: .7;
                transition: all 300ms ease-out;
                
                &:hover {
                    transform: scale(1.15);
                    opacity: 1;
                }
            }
            
            & figcaption {
                position: absolute;
                opacity: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(2);
                transition: all 300ms ease-out;
                color: #fff;
                font-family: 'Raleway', sans-serif;
                font-size: 1.2em;
                font-weight: 700;
            }
            
            &:hover figcaption {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
        
        
        
    }
    
}

