.site-header {
    padding: 0 1.5em;
    background-color: #fff;
    position: absolute;
    z-index: 101;
    width: 100%;
    transition: all 400ms ease-out;
    
    &.fadeColor {
        background-color: rgba(255,255,255,.7);
        position: absolute;
    }
    
    @include breakpoint($medium) {
        position: fixed;
    }
    
    @include breakpoint(1200px) {
        padding: 0 calc(50% - 600px);
    }
    
    &--stickee {
        background-color: rgba(255,255,255,.7);
        box-shadow: 0 2px 2px rgba(0,0,0,.6);
    }
    
    &__logo {
        position: absolute;
        padding: 1.6em 2em;
        background-color: #000;
        transform-origin: center top;
        transition: transform 400ms ease-out;
        
        @include breakpoint(max-width $medium) {
            left: 50%;
            transform: translateX(-50%) scale(.9);
        }
    }
    
    @include breakpoint($medium) {
        &--stickee &__logo {
            transform: scale(.47);
        }    
    }
    
    &__heading {
        color: $pink;
        font-size: 2.2rem;
        margin-top: -.1em;
        display: block;
        line-height: .9;
        
        &--amp {
            font-size: 1.5rem;
            line-height: 1.3;
            vertical-align: middle;
            
        }
        
        &--emph {
            color: #fff;
            display: block;
            margin-bottom: -.05em
        }
    }
    
    @include breakpoint(max-width $medium) {
        &__menu-icon {
            position: absolute;
            width: 20px;
            height: 19px;
            top: 1em;
            right: 1em;
            cursor: pointer;
            z-index: 1950;
            
            &::before {
                content: "";
                width: 20px;
                height: 2px;
                background-color: #000;
                display: inline-block;
                position: absolute;
                top: 0;
                transform-origin: left top;
                transition: transform 300ms ease-out;
            }
            
            &__middle {
                width: 20px;
                height: 2px;
                background-color: #000;
                position: absolute;
                top: calc(50% - 1px);
                transition: transform 300ms ease-out;
            }
            
            &::after {
                content: "";
                width: 20px;
                height: 2px;
                background-color: #000;
                position: absolute;
                display: inline-block;
                bottom: 0;
                transform-origin: left top;
                transition: transform 300ms ease-out;
            }
            
            &.close-icon {
                
                &::before {
                    transform: rotate(45deg) translateX(2px) scaleX(1.1);
                }

                .site-header__menu-icon__middle {
                    transform: scaleX(0);
                }

                &::after {
                    transform: rotate(-45deg) scaleX(1.1);
                }
                
            }
        }    
    }
    
    .nav-wrap {
        display: flex;
        justify-content: space-between;
        float: right; //why doesnt the hdr need a clearfix?
        
        @include breakpoint(max-width $medium) {
            opacity: 0;
            visibility: hidden;
        }
        
        &.showIt {
            opacity: 1;
            visibility: visible;
            flex-direction: column;
            padding-top: 100px;
            float: none;
        }
    }
    
    &__primary-nav {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
        
        .nav-wrap.showIt & {
            justify-content: center;
        }
        
        & li {
            display: flex;
            
            .nav-wrap.showIt &:not(:first-of-type) {
                margin-left: .2em;
            }

            & a:link, & a:visited {
                display: flex;
                justify-content: center;
                padding: 1.2em 1.6em;
                width: 100%;
                font-family: Raleway, sans-serif;
                text-transform: uppercase;
                font-size: .9rem;
                color: #333;
                transition: all 300ms ease-out;
                
                &.highlight {
                    background-color: $pink;
                    color: #fff;
                }
                
                .nav-wrap.showIt & {
                    background-color: rgba($pink, .6);
                    font-size: .8rem;
                    padding: .8em 1em;
                }

                &:hover {
                    background-color: $pink;
                    color: #fff;
                }
            }
            
            
        }
    }
    
    &__social {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        a:not(:first-of-type) {
            margin-left: .5em;
        }
        
        img {
            width: 1.375em;
        }
        
        .showIt & {
            justify-content: center;
            padding-bottom: .4em;
            padding-top: .6em;
        }
    }
    
    
} //.site-header

