

.services {
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1)), url('../img/service-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.2em;
        
        @include breakpoint(max-width $medium) {
            display: flex;
            flex-wrap: wrap;
        }
        
    }
    
    &__salon-services {
        background-color: rgba(0,0,0,.9);
        padding: 1.6em;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        
        @include breakpoint(max-width $medium) {
            flex: 1 1 300px;
            margin: 1em;
        }
    }
    
    & .fa {
        font-size: 3em;
        margin-bottom: .4em; 
    }
    
    &__sub-heading {
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: .3em;
    }
    
    &__summary {
        font-size: .9em;
        line-height: 1.6;
        margin-bottom: 1.5em;
    }
}


