.testimonials {
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.2)), url('../img/whiteBg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-container {
    position: relative;
    padding: 1em 0em;
    //overflow: hidden; might need if width increases on each slide
}

.container__slider {
    position: relative;
    overflow: hidden;
    width: 80%;
    left: 10%;
}

    .container__slide {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;

    }

    .container__slide.animated {
        transition: left .3s ease-in;
    }

blockquote {
    color: #111;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 2em;
    line-height: 1.5;
    position: relative;
    padding-top: 2em;
}

blockquote::before {
    content: "\201C";
    line-height: 1.1;
    font-size: 5em;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    color: #fff;
}

blockquote::after {
    content: "\201D";
    line-height: 1.1;
    font-size: 5em;
    position: absolute;
    display: block;
    right: .2em;
    color: #fff;
}


cite {
    font-size: .75em;
    font-weight: 700;
    font-style: normal;
    vertical-align: center;
}

.main-container img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: .3em;
    margin-bottom: .4em;
    border: 1px solid white;
    box-sizing: content-box;
}


/* Nav */
#prev,
#next {
    transition: all .3s ease-in;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}

#prev { 
    background-image: url('../img/arrow-left-out.svg');
    
    @include breakpoint(max-width $medium) {
        transform: translateY(-50%) scale(.8);
    }

    @include breakpoint(max-width $small) {
        left: 50%;
        transform: translate(-50%, -50%) scale(.7);
        top: -2.5em;
    }
}

#prev:hover { background-image: url('../img/arrow-left-over.svg'); }

#next {
    background-image: url('../img/arrow-right-out.svg');
    right: 0;
    
    @include breakpoint(max-width $medium) {
        transform: translateY(-50%) scale(.8);
    }
    
    @include breakpoint (max-width $small) {
        left: 50%;
        transform: translate(-50%, 0) scale(.7);
        bottom: -5.5em;
        top: auto;
    }
}

#next:hover { background-image: url('../img/arrow-right-over.svg'); }


@include breakpoint(max-width $small) {
    .testimonials .section-headline__wrapper {
        margin-bottom: 2.5em;
    }
}

